.globalHomeSection {
    margin: 1rem auto;
    width: 1200px;
}

.generateButton {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.generateButton p {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 2px solid #206024;
    border-radius: 6px;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #78dc7d, #A5D6A7, #78dc7d);
    width: 30%;
    transition: 0.3s all ease;
}

.generateButton p:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
}

.RecipeDisplay {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    height: 400px;
    width: 100%;
}

.recipe img {
    max-height: 400px;
    max-width: 450px;
    width: 35%;
    border-radius: 1rem;
}

.recipeDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid #3a3a3e;
    height: 100%;
    width: 40%;
    background: linear-gradient(135deg, #3a3a3e, #27272b);
    padding: 1rem 2rem;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.recipeDetails h2 {
    color: #78dc7d;
}

.recipeDetails h3 {
    color: #A5D6A7;
}

.recipeDetails ul {
    overflow: auto;
}

.recipeDetails li {
    padding: 0rem;
    margin-top: -0.3rem 0.5rem;
    color: #A5D6A7;
}

.recipeDetails h5 {
    color: #206024;
    text-align: center;
    font-size: 0.95rem;
}

.replaceButton {
    display: flex;
    justify-content: center;
}

.replaceButton p {
    cursor: pointer;
    color: #ffffff; 
    padding: 0.5rem 2.5rem;
    border: none; 
    border-radius: 6px; 
    background: linear-gradient(135deg, #388E3C, #66BB6A, #388E3C);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.replaceButton p:hover {
    transform: scale(1.035); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #328b37, #5dbb61, #328b37);
}

.NutritionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WeeklyInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    gap: 2rem;
    background: linear-gradient(135deg, #3a3a3e, #27272b);
    border: 2px solid #3a3a3e;
    padding: 1rem 2rem;
    border-radius: 16px;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
}

.WeeklyGroceries {
    padding: 1rem;
    width: 45%;
    max-height: 18rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #4CAF50, #388E3C); 
    border-radius: 10px;
    border: 2px solid #1e1e1e;
    height: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #45a049, #2e7d32);
}

.WeeklyGroceries, .WeeklyMacro p {
    color: #A5D6A7;
    padding: 1px;
    text-align: left;
}

.WeeklyMacro, .WeeklyGroceries {
    padding: 1rem;
    width: 45%;
}

.WeeklyMacro, .WeeklyGroceries h2 {
    color: #78dc7d; 
    text-align: center;
}

.StickyTry {
    overflow: auto;
    max-height: 14.5rem;
}

.MacrosSubPart {
    text-align: left;
}

.confirmationButtonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    height: 4rem;
    width: 25%;
    background: linear-gradient(135deg, #78dc7d, #A5D6A7, #78dc7d);
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.3);
    border: 2px solid #206024;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.confirmationButtonSection:hover {
    transform: scale(1.055); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}